<!DOCTYPE html>
<html 
	lang="ko"
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!-- ●head config -->
<th:block th:replace="fragments/config :: configFragment"></th:block>

<body>
    <div id="wrap">
		<!-- ●header -->
    	<header th:replace="fragments/header :: headerFragment"></header>    
   		<!-- ●content 영역 -->
    	<section layout:fragment="content" class="contents"></section>
    	<!-- ●script: 회원가입,로그인 -->
    	<th:block layout:fragment="script"></th:block>
    </div>
</body>
</html>