<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.blog.like.mapper.LikeMapper">
	<!-- 공감 toggle > 눌렀는지 조회 -->
	<select id="selectLikeCountByPostIdUserId" parameterType="map" resultType="int">
		SELECT
			COUNT(1)
		FROM
			`like`
		WHERE
			`postId` = #{postId}
			AND `userId` = #{userId}
	</select>
	
	<!-- 공감 뿌리기 > 공감 갯수 조회 -->
	<select id="selectLikeCountByPostId" parameterType="int" resultType="int">
		SELECT
			COUNT(*)
		FROM
			`like`
		WHERE
			`postId` = #{postId}
	</select>
	
	<!-- 공감 toggle > 추가 -->
	<insert id="insertLike" parameterType="map">
		INSERT INTO `like`
		(
			`postId`
			, `userId`
			, `createdAt`
		)
		VALUES
		(
			#{postId}
			, #{userId}
			, NOW()
		)
	</insert>
	
	<!-- 공감 toggle > 해제 -->
	<delete id="deleteLikeByPostIdUserId" parameterType="map">
		DELETE
		FROM	
			`like`
		WHERE
			`postId` = #{postId}
			AND `userId` = #{userId}
	</delete>
</mapper>