<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.blog.post.mapper.PostMapper">
 	<!-- ※test4 -->
 	<select id="selectPostListTest" resultType="map">
 		SELECT
 			*
 		FROM
 			`post`
 	</select>
 	
 	<!-- 글 목록 > 사용자의 글 목록 조회 -->
 	<select id="selectPostListByUserId" parameterType="int" resultType="com.blog.post.domain.Post">
 		SELECT
 			`id`
			,`userId`
			,`subject`
			,`content`
			,`imagePath`
			,`createdAt`
			,`updatedAt`
 		FROM
 			`post`
 		WHERE
 			`userId` = #{userId}
 		ORDER BY `id` DESC
 	</select>
 	
 	<!-- 글 쓰기 > 글 추가 -->
 	<insert id="insertPost" parameterType="map">
		INSERT INTO `post`
		(
			`userId`
			,`subject`
			,`content`
			,`imagePath`
			,`createdAt`
			,`updatedAt`
		)
		VALUES
		(
			#{userId}
			, #{subject}
			, #{content}
			, #{imagePath}
			, NOW()
			, NOW()
		)
	</insert>
	
	<!-- 글 상세 > 사용자의 글 조회 -->
	<select id="selectPostByPostIdUserId" parameterType="map" resultType="com.blog.post.domain.Post">
		SELECT
			`id`
			,`userId`
			,`subject`
			,`content`
			,`imagePath`
			,`createdAt`
			,`updatedAt`
		FROM
			`post`
		WHERE
			`userId` = #{userId}
			AND `id` = #{postId} <!-- ※db 안에 postId는 id를 의미 -->
	</select>
	
	<!-- 댓글 뿌리기 > 모든 글 조회 -->
    <select id="selectAllPosts" resultType="com.blog.post.entity.PostEntity">
        SELECT *
        FROM post
    </select>
 </mapper>