<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
<section layout:fragment="content" class="content d-flex justify-content-center mt-5">
	<div class="w-100">
		<table class="table table-bordered table-hover">
			<tbody>
				<tr th:each="post : ${postList}">
					<td> 
						<a th:href="|/post/post-detail-view?postId=${post.id}|" th:text="|${post.id}_${post.subject}|" class="table-title text-dark">title</a>
						<div th:text="${#temporals.format(post.createdAt, 'yyyy년 M월 d일')}" class="text-secondary">createdAt</div><br>
						<div th:text="${post.content}" class="table-content text-secondary">content</div>
					</td>
				</tr>
			</tbody>
		</table>
		
		<div class="d-flex justify-content-end mr-3 mb-5">
			<a href="/post/post-create-view" class="btn btn-write text-white">글쓰기</a>
		</div>
		
	</div>
</section>

<th:block layout:fragment="script">
    <script>

    </script>
</th:block>