<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
<section layout:fragment="content" class="contents d-flex justify-content-center">
	<div class="contents-box">		
		<!-- 타임라인 영역 -->
		<div class="timeline-box">
			<!-- 포스트 -->
			<div class="card border rounded mt-3" th:each="cardView, iterStat : ${cardViewList}" th:if="${iterStat.index == 0}">
				<!-- 글 제목, 더보기(삭제) -->
				<div class="d-flex justify-content-between align-items-center">
					<div class="d-flex  mb-4">
						<!-- 뒤로가기 -->
						<a href="/post/post-list-view" class="goBack-btn ml-3 mr-3">
							<img src="https://imagescdn.gettyimagesbank.com/500/19/213/635/0/1153376175.jpg" width="30">
						</a>
						<!-- 제목 -->
						<div th:text="${post.subject}" class="card-title mt-3">글 제목</div>
					</div>
					
					<!-- 더보기(...) -->
					<a href="#" class="more-btn mr-4 mb-5">
						<img src="https://www.iconninja.com/files/860/824/939/more-icon.png" width="30">
					</a>
				</div>
				
				<!-- 본문 이미지 (이미지 있을 때에만 영역 노출) -->
				<div class="card-img">
					<img th:if="${post.imagePath != null}" th:src="${post.imagePath}" width="400px" alt="본문 이미지">
					<img th:unless="${post.imagePath != null}" src="/blog_img/none.jpg" class="d-none" alt="기본 이미지">
				</div>
				
				<!-- 글 -->
				<div class="card-post m-3">
					<div th:text="${post.content}" class="text-secondary">글 내용입니다!!!!</div>
				</div>
				
				<!-- 공감 버튼-->
				<button class="card-like m-3 bg-dark" th:data-post-id="${cardView.post.id}" th:data-filled-like="${cardView.filledLike}">
					<small th:if="${cardView.filledLike == false}" th:text="|♥ 공감|" class="text-white"></small>
					<small th:unless="${cardView.filledLike == false}" th:text="|♥ ${cardView.likeCount}개|" class="text-white"></small>
				</button>

				
				<!-- 댓글 목록 -->
				<div class="card-comment-list m-2">
					<!-- 댓글들 -->
					<div class="card-comment d-flex m-1" th:each="commentView : ${commentViewList}">
						<div class="font-weight-bold mr-2" th:text="${commentView.user.loginId}">댓글쓴이</div>
						<div class="text-secondary mr-2" th:text="${commentView.comment.content}">댓글 내용임</div>
						
						<!-- 댓글 삭제(자신의 댓글만 가능) -->
						<a href="#" class="comment-del-btn" th:if="${session.userId == commentView.comment.userId}" th:data-comment-id="${commentView.comment.id}">
							<img src="/blog_img/delete.jpg" width="10" height="10">
						</a>
					</div>
					
					<!-- 댓글 쓰기 -->
					<div class="comment-write d-flex border-top mt-2 border rounded">
						<input type="text" class="comment-input form-control border-0 mr-2" placeholder="댓글 입력">
						<button type="button" class="comment-btn btn text-white" th:data-post-id="${post.id}" th:data-user-id="${post.userId}">등록</button>
					</div>
				</div> <!-- 댓글 끝 -->
			</div> <!-- 포스트 끝 -->
		</div> <!-- 타임라인 박스 끝 -->
	</div>
</section>

<th:block layout:fragment="script">
    <script>
    $(document).ready(function() {
    	/* 댓글 쓰기 */
    	$(".comment-btn").on('click', function() {
    		// alert("댓글 등록");
    		
    		//로그인 여부 확인
    		let userId = $(this).data("user-id");
    		if (!userId) { // 비로그인
				alert("로그인을 해주세요.");
				location.href = "/user/sign-in-view";
				return;
			}
			
			// 글 번호 꺼내오기 → data-post-id
    		let postId = $(this).data("post-id");
    		//alert(postId);
    		
    		// ★형제 태그 > input(댓글내용) 가져오기 → comment-input
    		let content = $(this).siblings("input").val().trim();
			console.log(content); 
			if (!content) {
				alert("댓글 내용을 입력하세요.");
				return;
			}
			
			// ajax
			$.ajax({
				type:"post"
				, url:"/comment/create"
				, data:{"postId":postId, "content":content}
				, success:function(data) {
					if (data.code == 200) {
						location.reload(true); 
					} else if (data.code == 403) { // 비로그인
						alert(data.error_message);
						location.href="/user/sign-in-view";
					} else {
						alert(data.error_message);
					}
				}
				, error:function(error) {
					alert("댓글 쓰기에 실패했습니다.");
				}
				
			});
			
        });
    	
    	/* 댓글 삭제 */
    	$(".comment-del-btn").on('click', function(e) {
			e.preventDefault(); // 위로 올라감 방지
			
			let commentId = $(this).data("comment-id");
			//alert(commentId);
			
			$.ajax({
				type:"DELETE"
				, url:"/comment/delete"
				, data:{"commentId":commentId}
				, success:function(data) {
					if (data.code == 200) {
						location.reload(true);
					} else if (data.code == 403) { // 비로그인
						alert(data.error_message);
						location.href="/user/sign-in-view";
					} else {
						alert(data.error_message);
					}
				}
				, error:function(request, status, error) {
					alert("댓글 삭제 하는데 실패했습니다.");
				}
			});
		});
    	
    	/* 공감 Toggle */
        $(".card-like").on('click', function(e) {
        	e.preventDefault();
			//alert("공감 토글");
			
            
            // 글 번호 꺼내오기 → data-post-id
            let postId = $(this).data("post-id");
            
            // 공감 버튼 이벤트
            let isFilledLike = $(this).data("filled-like");
            if (isFilledLike) {
                alert("공감 해제🚫");
            } else {
            	alert("공감 꾹❤️");
            }
            
            // ajax 요청
            $.ajax({
                type: "POST",
                url: "/like/" + postId,
                success: function(data) {
                    if (data.code == 200) {
                        location.reload(true); // 페이지 새로고침
                    } else if (data.code == 403) { // 비로그인
                        alert(data.error_message);
                        location.href = "/user/sign-in-view";
                    } else {
                        alert(data.error_message);
                    }
                },
                error: function() {
                    alert("공감 상태 변경에 실패했습니다.");
                }
            });
        });
    }); //--ready
    
    </script>
</th:block>