<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
<section layout:fragment="content" class="contents d-flex justify-content-center mt-5">
	<div class="w-100">
		<table class="table table-striped table-hover">
			<tbody>
				<tr th:each="post : ${postList}">
					<td> 
						<div th:text="${post.subject}" class="table-title">title</div>
						<div th:text="${#temporals.format(post.createdAt, 'yyyy년 M월 d일')}" class="text-secondary">createdAt</div>
						<div th:text="${post.content}" class="text-secondary">content</div>
					</td>
				</tr>
			</tbody>
		</table>
		
		<div class="d-flex justify-content-end">
			<a href="/post/post-create-view" class="btn text-white">글쓰기</a>
		</div>
	</div>
</section>

<th:block layout:fragment="script">
    <script>

    </script>
</th:block>