<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- ●header 영역 -->
<header th:fragment="headerFragment">
	    		
	<div class="h-100 d-flex justify-content-between align-items-center">
		<div class="user-id d-flex align-items-center justify-content-center">
			<img alt="사용자 캐릭터" src="/blog_img/bear.jpg" width="50">
			<div th:if="${session.userId != null}">
				<span th:text="'Hello, ' + ${session.userName}"></span>
				<a href="/user/sign-out">로그아웃</a>
			</div>
		</div>
		<div>
			<h1 class="header-text">myStory</h1>
		</div>
		<div th:unless="${session.userId != null}" class="login d-flex align-items-center justify-content-center">
			<a href="/user/sign-in-view">로그인</a>
		</div>
	</div>
</header>

</html>