@charset "UTF-8";

header {
	height:100px; 
	width:100%; 
	background-color: #998877;
} 
.header-text {
	font-family: "Lucida Console", "Courier New", monospace;
	font-size: 40px;
	color: #FFFFFF;
}
p {font-family: "Lucida Console", "Courier New", monospace;}
.logout {font-family: "Lucida Console", "Courier New", monospace;}
.login {font-family: "Lucida Console", "Courier New", monospace;}
a:hover {text-decoration: none;}

span {font-size: 13pt; font-family: 'Noto Serif KR'; color: #998877;}

.card-title {
	border-bottom: 3px solid #998877; 
	font-weight: bold;
	font-size: 30px;
}
	
.sign-up-box {width: 400px;}

.contents {
	min-height: 500px;
    overflow-wrap: break-word; /* 긴 단어가 있을 경우 자동으로 줄바꿈 */
    overflow-x: hidden; /* 수평 스크롤 방지 */
    overflow-y: auto; /* 수직 스크롤 허용 */
    
    word-break: break-word; /* 긴 단어는 줄바꿈 */
    white-space: pre-line; /* 줄바꿈을 유지하면서 연속 공백은 하나로 처리 */

    
    
}
.contents-box {
    width: 100%; /* 부모 컨테이너 너비에 맞춤 */
    max-width: 800px; /* 너무 넓어지지 않도록 최대 너비 설정 */
    
}

.user-id {
	background-color:#998877; 
	width:200px; 
	height:100px;
}
.login {
	background-color:#998877; 
	width:200px; 
	height:100px;
}
.btn {background-color:#998877;}

.login-box {width: 300px;}
.btn-signUp {background-color: black;}

.table-title {
	font-size: 20px; 
	font-weight: bold;
}

.table-content {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.card-like {
    width: 60px;
    background-color: black;
    border: none;
    border-radius: 13px;
}

.btn-write{
	width: 80px;
	background-color: black;
	border: none;
	border-radius: 13px;
}

#saveBtn{
	height:30px;
	font-size: 15px; 
	background-color: black;
	border: none;
	border-radius: 13px;
}

.comment-btn {
	width: 90px;
	background-color: black;
	border: none;
	border-radius: 10px;
}

