@charset "UTF-8";

header {
	height:100px; 
	width:100%; 
	background-color: #998877;
} 
.header-text {
	font-family: "Lucida Console", "Courier New", monospace;
	font-size: 40px;
	color: #FFFFFF;
}
p {font-family: "Lucida Console", "Courier New", monospace;}
.logout {font-family: "Lucida Console", "Courier New", monospace;}
.login {font-family: "Lucida Console", "Courier New", monospace;}
a:hover {text-decoration: none;}

span {font-size: 13pt; font-family: 'Noto Serif KR'; color: #998877;}
h4 {
	box-sizing: border-width 5px; 
	border-left-style: solid; 
	border-left-color: #998877; 
	border-bottom: 1px solid #d9d9d9; 
	color: #414e92; 
	padding: 1px 10px 10px 10px; 
	letter-spacing: 0px; margin: 1em 0em; 
	line-height: 1; 
}
.card-title {
	border-bottom: 3px solid #998877; 
	padding: 0 0 0 0.2em; 
	font-weight: bold;
}
	
.sign-up-box {width: 400px;}

.contents {min-height: 500px;}


.user-id {
	background-color:#998877; 
	width:200px; 
	height:100px;
}
.login {
	background-color:#998877; 
	width:200px; 
	height:100px;
}
.btn {background-color:#998877;}

.login-box {width: 300px;}
.btn-signUp {background-color: black;}

.table-title {
	font-size: 20px; 
	font-weight: bold;
}

.table-content {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.card-like{
	width: 80px;
	background-color: black;
	border: none;
	border-radius: 13px;
}

.btn-write{
	width: 80px;
	background-color: black;
	border: none;
	border-radius: 13px;
}

#saveBtn{
	height:30px;
	font-size: 15px; 
	background-color: black;
	border: none;
	border-radius: 13px;
}

.comment-btn {
	width: 90px;
	background-color: black;
	border: none;
	border-radius: 10px;
}

	